<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>后台管理系统</title>

  <!-- -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
  <!--矢量图标插件-->
  <link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
  <!--统计插件https://github.com/rendro/easy-pie-chart/-->
  <link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
  <!--幻灯片插件-->
  <link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

  <!--right slidebar-->
  <link rel="stylesheet" th:href="@{css/slidebars.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/style-responsive.css}">

</head>

<body>

<section id="container" >
  <!--顶部结束-->
  <header class="header white-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right"></div>
    </div>
    <a href="adminindex.html" class="logo">后台管理系统</a>
  </header>

  <section id="main-content">
    <div class="row ">
      <div class="col-sm-2">
        <section class="panel-heading">
          后台管理系统
        </section>
        <div class="list-group">
          <div class="list-group-item"><a th:href="@{/adminusrlist}">Users</a></div>
          <div class="list-group-item"><a th:href="@{/adminhouselist}">Houses</a></div>
          <div class="list-group-item"><a th:href="@{/admindemandlist}">Demands</a></div>
          <div class="list-group-item"><a th:href="@{/admintransactionlist}">Transactions</a></div>
          <div class="list-group-item"><a th:href="@{/adminstatistics}">Statistics</a></div>
        </div>
      </div>

      <div class="col-sm-10">
        <header>User List</header>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>userId</th>
            <th>userNickName</th>
            <th>password</th>
            <th>userType</th>
            <th>userName</th>
            <th>cardType</th>
            <th>idNumber</th>
            <th>phoneNumber</th>
            <th>userLevel</th>
            <th>registCity</th>
            <th>updateTime</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>d</td>
            <td>e</td>
            <td>f</td>
            <td>g</td>
            <td>h</td>
            <td>i</td>
            <td>j</td>
            <td>k</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!--main content end-->


  <!--footer start-->
  <footer>
    <div class="text-center">
      @Copyright haha
      <a href="#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end-->
</section>



</body>
</html>

