<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>后台管理系统</title>

  <!-- -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
  <!--矢量图标插件-->
  <link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
  <!--统计插件https://github.com/rendro/easy-pie-chart/-->
  <link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
  <!--幻灯片插件-->
  <link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

  <!--right slidebar-->
  <link rel="stylesheet" th:href="@{css/slidebars.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/style-responsive.css}">

</head>

<body>

<section id="container" >
  <!--顶部结束-->
  <header class="header white-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right"></div>
    </div>
    <a href="adminindex.html" class="logo">后台管理系统</a>
  </header>
  <!--顶部结束-->
  <!--侧栏开始-->
  <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <a th:href="@{/adminindex}">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li >
          <a >
            <i class="fa fa-laptop"></i>
            <span>Layouts</span>
          </a>
          <ul>
            <li><a th:href="@{/adminusrlist}">Users</a></li>
            <li><a th:href="@{/adminhouselist}">Houses</a></li>
            <li><a th:href="@{/admindemandlist}">Demands</a></li>
            <li><a th:href="@{/admintransactionlist}">Transactions</a></li>
          </ul>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--侧栏结束-->
  <!--主体内容-->
  <section id="main-content">
    <section class="panel" style="padding-top:100px;">
      <form class="search-result" style="padding-left: 50px;">
        <div class="row panel">
          <label class="col-sm-1 control-label" for="search-input">Search</label>
          <div class="col-sm-8">
            <input class="form-control w3-xlarge"
                   type="text"
                   id="search-input"
                   name="search-text">
            <p class="help-block">About ... results (... seconds)</p>
          </div>
          <div class="col-sm-2">
            <button class="btn" type="submit">SEARCH</button>
          </div>
        </div>

        <div class="row panel">
          <label for="select-province">Province</label>
          <select id="select-province" name="province">
            <option>Bj</option>
            <option>Sh</option>
            <option>AN</option>
            <option>SC</option>
          </select>
          <label for="select-city">Province</label>
          <select id="select-city" name="city">
            <option>Bj</option>
            <option>Ai</option>
            <option>Zh</option>
          </select>
          <label for="select-district">Province</label>
          <select id="select-district" name="district">
            <option>QAZ</option>
            <option>WSX</option>
            <option>EDC</option>
          </select>
        </div>

        <div class="row panel">
          <label for="user-id">user id</label>
          <input type="text" id="user-id">
        </div>
      </form>
    </section>

    <section class="panel">
      <div class="row">
        <div class="col-sm-12">
          <header>User List</header>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>userId</th>
              <th>userNickName</th>
              <th>password</th>
              <th>userType</th>
              <th>userName</th>
              <th>cardType</th>
              <th>idNumber</th>
              <th>phoneNumber</th>
              <th>userLevel</th>
              <th>registCity</th>
              <th>updateTime</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
              <td>e</td>
              <td>f</td>
              <td>g</td>
              <td>h</td>
              <td>i</td>
              <td>j</td>
              <td>k</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </section>
  <!--main content end-->

  <!--footer start-->
  <footer class="site-footer">
    <div class="text-center">
      @Copyright haha
      <a href="#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end-->
</section>



</body>
</html>

