<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>后台管理系统</title>

  <!-- -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
  <!--矢量图标插件-->
  <link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
  <!--统计插件https://github.com/rendro/easy-pie-chart/-->
  <link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
  <!--幻灯片插件-->
  <link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

  <!--right slidebar-->
  <link rel="stylesheet" th:href="@{css/slidebars.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/style-responsive.css}">

  <link rel="stylesheet" th:href="@{css/w3.css}">

</head>

<body>

<section id="container" >
  <!--顶部结束-->
  <header class="header white-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right"></div>
    </div>
    <a href="adminindex.html" class="logo">后台管理系统</a>
  </header>
  <!--顶部结束-->
  <!--侧栏开始-->
  <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <a th:href="@{/adminindex}">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li >
          <a >
            <i class="fa fa-laptop"></i>
            <span>Layouts</span>
          </a>
          <ul>
            <li><a th:href="@{/adminusrlist}">Users</a></li>
            <li><a th:href="@{/adminhouselist}">Houses</a></li>
            <li><a th:href="@{/admindemandlist}">Demands</a></li>
            <li><a th:href="@{/admintransactionlist}">Transactions</a></li>
            <li><a th:href="@{/adminstatistics}">Statistics</a></li>
          </ul>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--侧栏结束-->
  <!--主体内容-->
  <section id="main-content">

    <div class="panel-body">
      <div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>交易号</th>
            <th>房屋ID</th>
            <th>房东ID</th>
            <th>房客ID</th>
            <th>交易日期</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>押金</th>
            <th>总租金</th>
            <th>房东中介费</th>
            <th>房客中介费</th>
            <th>租借状态</th>
          </tr>
          </thead>
          <tbody id="pretranslist">
          <tr>
            <td>77477</td>
            <td>2934789</td>
            <td>289345</td>
            <td>0297834</td>
            <td>2019/1/11 11:11</td>
            <td>2019/1/11 11:12</td>
            <td>2019/12/11 12:11</td>
            <td>￥444</td>
            <td>￥55555</td>
            <td>￥321</td>
            <td>￥999</td>
            <td>已付款</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!--main content end-->

  <!--footer start-->
  <footer class="site-footer">
    <div class="text-center">
      @Copyright haha
      <a href="#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end-->
</section>

</body>
</html>

