<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>后台管理系统</title>

  <!-- -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
  <!--矢量图标插件-->
  <link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
  <!--统计插件https://github.com/rendro/easy-pie-chart/-->
  <link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
  <!--幻灯片插件-->
  <link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

  <!--right slidebar-->
  <link rel="stylesheet" th:href="@{css/slidebars.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/style-responsive.css}">

  <link rel="stylesheet" th:href="@{css/w3.css}">

</head>

<body>

<section id="container" >
  <!--顶部结束-->
  <header class="header white-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right"></div>
    </div>
    <a href="adminindex.html" class="logo">后台管理系统</a>
  </header>

  <section id="main-content" class="row">
    <!--顶部结束-->
    <!--侧栏开始-->
    <section class="col-sm-2">
      <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li>
            <a th:href="@{/adminindex}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li >
            <a >
              <i class="fa fa-laptop"></i>
              <span>Layouts</span>
            </a>
            <ul>
              <li><a th:href="@{/adminusrlist}">Users</a></li>
              <li><a th:href="@{/adminhouselist}">Houses</a></li>
              <li><a th:href="@{/admindemandlist}">Demands</a></li>
              <li><a th:href="@{/admintransactionlist}">Transactions</a></li>
              <li><a th:href="@{/adminstatistics}">Statistics</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </section>
    <!--侧栏结束-->
    <!--主体内容-->

    <section class="panel col-sm-10">
      <div class="panel-body">
        <div>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>房屋ID</th>
              <th>城市</th>
              <th>社区</th>
              <th>楼门号</th>
              <th>房屋类型</th>
              <th>房屋面积</th>
              <th>楼层</th>
              <th>是否有电梯</th>
              <th>押金</th>
              <th>租金支付方式</th>
              <th>租金</th>
              <th>注册时间</th>
              <th>修改时间</th>
              <th>已租/待租</th>
            </tr>
            </thead>
            <tbody id="ownerhouselist">
            <tr>
              <td>111</td>
              <td>Beijing</td>
              <td>Haidian</td>
              <td>456</td>
              <td>三室两厅</td>
              <td>500平米</td>
              <td>234</td>
              <td>有</td>
              <td>￥192831081</td>
              <td>￥1931081</td>
              <td>支付宝</td>
              <td>2019/1/11 0:00</td>
              <td>2019/1/11 1:00</td>
              <td>已租</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </section>
  <!--main content end-->

  <!--footer start-->
  <footer class="site-footer">
    <div class="text-center">
      @Copyright haha
      <a href="#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end-->
</section>



</body>
</html>

