<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
<head>
	<title>house list</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" th:href="@{/css/w3.css}">

	<!-- -->
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
	<!--矢量图标插件-->
	<link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
	<!--统计插件https://github.com/rendro/easy-pie-chart/-->
	<link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
	<!--幻灯片插件-->
	<link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

	<!--right slidebar-->
	<link rel="stylesheet" th:href="@{css/slidebars.css}">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/style-responsive.css}">

</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- <script src="Scripts/jquery.pagination.js" type="text/javascript"></script> -->

<script th:src="@{/js/house/houselist.js}"></script>

<section id="container" class="backgroundimg2">
	<!-- Navbar -->
	<header class="w3-top">
		<div>
			<div class="w3-navbar w3-white navbar-collapse collapse w3-large">
				<a th:href="@{/}" class="w3-bar-item w3-button w3-hover-orange">主页</a>
				<a th:href="@{/houselist}" class="w3-bar-item w3-button w3-hover-orange">房源</a>
				<a th:href="@{/demandlist}" class="w3-bar-item w3-button w3-hover-orange">求租</a>
				<a th:href="@{/personview}" id="linkpresonview" class="w3-bar-item w3-button w3-hover-orange w3-right">个人中心</a>
				<a id="linksignup" th:href="@{/signup}" class="w3-bar-item w3-button w3-hover-orange w3-right">
					<i class="fa fa-user"></i> 注册
				</a>
				<a id="linksignin" th:href="@{/signin}" class="w3-bar-item w3-button w3-hover-orange w3-right">
					<i class="fa fa-sign-in"></i> 登陆</a>
			</div>
		</div>
	</header>

	<section id="main-content">

		<div class="panel search-panel w3-large toumingdu">
			<form class="list-group">
				<!--<hr>-->
				<div class="form-group list-group-item">
					<b class="bbb">城市</b>
					<input type="checkbox" name="city1" value="0" id="city1"> 北京
					<input type="checkbox" name="city2" value="1" id="city2"> 上海
					<input type="checkbox" name="city3" value="2" id="city3"> 天津
				</div>

				<div class="form-group list-group-item">
					<b class="bbb">小区</b>
					<input type="text" name="community">
				</div>
        <!--<hr>-->
				<div class="form-group list-group-item">
					<b class="bbb">类型</b>
					<input type="checkbox" name="housetype1" id="housetype1" value="0"> 一居
					<input type="checkbox" name="housetype2" id="housetype2" value="1"> 两居
					<input type="checkbox" name="housetype3" id="housetype3" value="2"> 三居
					<input type="checkbox" name="housetype4" id="housetype4" value="3"> 四居+
				</div>
				<!--<hr>-->
				<div class="form-group list-group-item">
					<b class="bbb">面积</b>
					<label for="houseareamin">最小值</label>
          <input type="number" min="0" max="10000" id="houseareamin" name="houseareamin">
					<label for="houseareamax">最大值</label>
					<input type="number" min="0" max="10000" id="houseareamax" name="houseareamax">
				</div>
				<!--<hr>-->
				<div class="form-group list-group-item">
					<b class="bbb">是否有电梯</b>
					<input type="checkbox" name="elevator1" value="0" id="elevator1"> 有
					<input type="checkbox" name="elevator2" value="1" id="elevator2"> 否
				</div>
				<!--<hr>-->
				<div class="form-group list-group-item">
					<b class="bbb">租金</b>
					<label for="rentmoneymin">最小值</label>
					<input type="number" min="0" max="1000000" id="rentmoneymin" name="rentmoneymin">
					<label for="rentmoneymax">最大值</label>
					<input type="number" min="0" max="1000000" id="rentmoneymax" name="rentmoneymax">
				</div>
				<!--<hr>-->
				<div class="form-group list-group-item">
					<b class="bbb">支付方式</b>
					<input type="checkbox" name="paymentmethod1" value="0"
					id="paymentmethod1"> 月租
					<input type="checkbox" name="paymentmethod2" value="1"
					id="paymentmethod2"> 季租
					<input type="checkbox" name="paymentmethod3" value="2"
					id="paymentmethod3"> 年租
				</div>
				<hr>
				<button type="button" class="btn btn-primary" id="search-btn">确认</button>
			</form>
		</div>

		<div class="row">
			<!-- left side (content) -->
			<div class="container-fluid col-sm-9">
				<div class="panel-body">
					<!-- ::before -->
					<div id="tobehouselist">
						<ul id="houseList">
							<!--<li class="round-panel">-->
								<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
									<!--&lt;!&ndash;<div class="img col-sm-5">&ndash;&gt;-->
										<!--&lt;!&ndash;<img class="w3-center"&ndash;&gt;-->
												 <!--&lt;!&ndash;style="width: 15em; height: 15em;"&ndash;&gt;-->
												 <!--&lt;!&ndash;th:src="@{/img/a(1).JPG}">&ndash;&gt;-->
									<!--&lt;!&ndash;</div>&ndash;&gt;-->
									<!--&lt;!&ndash;<div class="txt col-sm-5">&ndash;&gt;-->
										<!--&lt;!&ndash;<h3>Haha</h3>&ndash;&gt;-->
										<!--&lt;!&ndash;<h4>北京市海淀区西土城路10号北京邮电大学学一楼307</h4>&ndash;&gt;-->
									<!--&lt;!&ndash;</div>&ndash;&gt;-->
									<!--&lt;!&ndash;<div class="btn col-sm-2">&ndash;&gt;-->
										<!--&lt;!&ndash;<button id="house-btn" class="btn btn-default w3-center">查看</button>&ndash;&gt;-->
									<!--&lt;!&ndash;</div>&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--</li>-->
						</ul>

					</div>
					<!-- ::after -->
				</div>

			</div>

			<!-- sidebar -->
			<div class="col-sm-3">
				<div id="user-panel">
					<div class="caption title">
						<h2>UserName</h2>
					</div>
					<div>
						<div>
							<ul>
								<li>...</li>
								<li>...</li>
								<li>...</li>
							</ul>
						</div>
						<div>
							<ul>
								<li>
									<a th:href="@{/irent}"><h3>我要求租</h3></a>
								</li>
								<li>
									<a th:href="@{/irentout}"><h3>我要出租</h3></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


		</div>

		<!--pagination start-->
		<section class="panel">
			<div class="panel-body">
				<div>
					<ul class="pagination">
						<li><a href="#">«</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">»</a></li>
					</ul>
				</div>
			</div>
		</section>
		<!--pagination end-->
	</section>

	<footer class="w3-container w3-black" style="padding:32px;">
		<p class="w3-center">@Copyright haha</p>
	</footer>

</section>
</body>
</html>
