<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Rent</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{/css/w3.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.reset.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<style>
  h1, h2, h3, h4, h5, h6 { font-family: Constantia, "思源宋体", sans-serif; }
  a, p { font-family: "Century Gothic", "华文中宋", sans-serif; }
</style>

<body>

<section id="container">

  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-jumbo">自恋儒家</h1>
    <h6 class="w3-large">党和国家大力支持的租房网站</h6>
  </header>

  <div class="navbar w3-black navbar-collapse collapse w3-xlarge">
    <a th:href="@{/}" class="w3-bar-item w3-button">主页</a>
    <a th:href="@{/houselist}" class="w3-bar-item w3-button">房源</a>
    <a th:href="@{/demandlist}" class="w3-bar-item w3-button">求租</a>
    <a th:href="@{/adminindex}" class="w3-bar-item w3-button">后台</a>
    <a th:href="@{/personview}" class="w3-bar-item w3-button">个人中心</a>
    <a th:href="@{/signup}" class="w3-bar-item w3-button w3-right">注册</a>
    <a th:href="@{/signin}" class="w3-bar-item w3-button w3-right">登陆</a>
  </div>

  <section id="main-content">

    <div class="row">

      <div class="col-sm-9">
        <p>C'est la vie!</p>
        <p>Vouloir, c'est pouvoir.</p>
      </div>

      <div class="col-sm-3">
        <div>
          <div class="caption title">
            UserName
          </div>
          <div>
            <div>
              <ul>
                <li>...</li>
                <li>...</li>
                <li>...</li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <a th:href="@{/irent}">我要求租</a>
                </li>
                <li>
                  <a th:href="@{/irentout}">我要出租</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

</section>

<footer class="w3-container w3-black">
  <p class="w3-center">@Copyright haha</p>
</footer>

</body>
</html>