<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Rent</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{/css/w3.css}">

  <!-- -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
  <!--矢量图标插件-->
  <link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
  <!--统计插件https://github.com/rendro/easy-pie-chart/-->
  <link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
  <!--幻灯片插件-->
  <link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

  <!--right slidebar-->
  <link rel="stylesheet" th:href="@{css/slidebars.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/style-responsive.css}">

</head>

<body>

<section id="container" class="backgroundimg">

  <header class="w3-container w3-center w3-padding-48">
    <h1 class="w3-jumbo"><span style="color:white;">自恋儒家</span></h1>
    <h6 class="w3-large"><span style="color: white;">党和国家大力支持的租房网站</span></h6>
  </header>

  <div>
    <div class="w3-navbar w3-white navbar-collapse collapse w3-large">
      <a th:href="@{/}" class="w3-bar-item w3-button w3-hover-orange">主页</a>
      <a th:href="@{/houselist}" class="w3-bar-item w3-button w3-hover-orange">房源</a>
      <a th:href="@{/demandlist}" class="w3-bar-item w3-button w3-hover-orange">求租</a>
      <a th:href="@{/adminindex}" class="w3-bar-item w3-button w3-hover-orange">后台</a>
      <!--<div id="linkpresonview" class="w3-bar-item w3-button w3-hover-orange w3-right">个人中心</div>-->
      <a th:href="@{/personview}" id="linkpresonview" class="w3-bar-item w3-button w3-hover-orange w3-right">个人中心</a>
      <a id="linksignup" th:href="@{/signup}" class="w3-bar-item w3-button w3-hover-orange w3-right">
        <i class="fa fa-user"></i> 注册
      </a>
      <a id="linksignin" th:href="@{/signin}" class="w3-bar-item w3-button w3-hover-orange w3-right">
        <i class="fa fa-sign-in"></i> 登陆
      </a>
    </div>
  </div>

  <section id="main-content">

    <div class="row">

      <div class="col-sm-9">

        <form class="form-horizontal" role="form">
          <div class="form-group row w3-center">
            <label class="col-sm-2 w3-center" for="search"><h3>搜索栏</h3></label>
            <input type="text" class="col-sm-8 w3-center" id="search"
                   style="height:50px; margin-left: 1em; margin-right: 1em;">
            <button type="button" class="col-sm-1 w3-center btn btn-primary"
                    style="height:50px;"><i class="fa fa-search"></i></button>
          </div>
        </form>

      </div>

      <div class="col-sm-3">
        <div id="user-panel">
          <div class="caption titled">
            UserName
          </div>
          <div>
            <div>
              <ul>
                <li>...</li>
                <li>...</li>
                <li>...</li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <a th:href="@{/irent}">我要求租</a>
                </li>
                <li>
                  <a th:href="@{/irentout}">我要出租</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

</section>

<footer class="w3-container w3-black">
  <p class="w3-center">@Copyright haha</p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.1.1.js"></script>-->
<script th:src="@{/js/external/jquery.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- myself -->
<script th:src="@{/js/userlogin.js}"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
<!--<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->
<!-- blueimp Gallery script -->
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<!--<script th:src="@{/assets/file-uploader/js/vendor/jquery.ui.widget.js}"></script>-->
<!-- The Templates plugin is included to render the upload/download listings -->
<!--<script th:src="@{/assets/file-uploader/js/vendor/tmpl.min.js}"></script>-->
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="https://cdn.bootcss.com/blueimp-load-image/2.20.1/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<!--<script th:src="@{/assets/file-uploader/js/vendor/canvas-to-blob.min.js}"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<!--<script th:src="@{/assets/file-uploader/js/jquery.iframe-transport.js}"></script>-->
<!-- The basic File Upload plugin -->
<!--<script th:src="@{/assets/file-uploader/js/jquery.fileupload.js}"></script>-->
<!-- The File Upload processing plugin -->
<!--<script th:src="@{/assets/file-uploader/js/jquery.fileupload-process.js}"></script>-->
<!-- The File Upload image preview & resize plugin -->
<!--<script th:src="@{/assets/file-uploader/js/jquery.fileupload-image.js}"></script>-->
<!-- The File Upload audio preview plugin -->
<!--<script th:src="@{/assets/file-uploader/js/jquery.fileupload-audio.js}"></script>-->
<!-- The File Upload video preview plugin -->
<!--<script th:src="@{/assets/file-uploader/js/jquery.fileupload-video.js}"></script>-->
<!-- The File Upload validation plugin -->
<!--<script th:src="@{/assets/file-uploader/js/jquery.fileupload-validate.js}"></script>-->
<!-- The File Upload user interface plugin -->
<!--<script th:src="@{/assets/file-uploader/js/jquery.fileupload-ui.js}"></script>-->
<!-- myself -->

<!--<script th:src="@{/js/index.js}"></script>-->


</body>
</html>