<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
<head>
	<title>注册</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" th:href="@{/css/w3.css}">

	<!-- -->
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
	<!--矢量图标插件-->
	<link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
	<!--统计插件https://github.com/rendro/easy-pie-chart/-->
	<link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
	<!--幻灯片插件-->
	<link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

	<!--right slidebar-->
	<link rel="stylesheet" th:href="@{css/slidebars.css}">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/style-responsive.css}">

</head>
<body>

<header class="w3-top">
	<div>
		<div class="w3-navbar w3-white navbar-collapse collapse w3-large">
			<a th:href="@{/}" class="w3-bar-item w3-button w3-hover-orange">主页</a>
			<a th:href="@{/houselist}" class="w3-bar-item w3-button w3-hover-orange">房源</a>
			<a th:href="@{/demandlist}" class="w3-bar-item w3-button w3-hover-orange">求租</a>
		</div>
	</div>
</header>

<section id="container" style="background-color: dimgray">
  <section id="main-content">

		<div class="row">
			<div class="col-sm-4"></div>

			<div class="col-sm-5">
				<div class="round-panel">

					<form role="form" id="register" method="post">

						<div class="form-group w3-row">
							<label for="phonenumber">Phone number</label>
							<input type="text" class="form-control" id="phonenumber" name="phonenumber">
						</div>
						<div class="form-group w3-row">
							<label for="usernickname">User Nick Name</label>
							<input type="text" class="form-control" id="usernickname" name="usernickname">
						</div>
						<div class="form-group w3-row">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" name="password">
						</div>
						<div class="form-group w3-row">
							<label for="confirmpassword">Confirm password</label>
							<input type="password" class="form-control" id="confirmpassword">
						</div>

						<hr>
						<div class="form-group w3-row">
							<label for="idnumber">姓名</label>
							<input type="text" class="form-control" id="username" name="username">
						</div>

						<div class="form-group w3-row">
							<label for="registcity">注册城市</label>
							<select name="registcity" id="registcity">
								<option value="0">北京</option>
								<option value="1">上海</option>
								<option value="2">天津</option>
							</select>
						</div>

						<div class="form-group w3-row">
							<label for="selectid">Select ID</label>
							<select name="idtype" id="selectid">
								<option value=0>身份证</option>
								<option value=1>护照</option>
							</select>
						</div>
						<div class="form-group w3-row">
							<label for="idnumber">ID Number</label>
							<input type="text" class="form-control" id="idnumber" name="idnumber">
						</div>
						<div class="form-group w3-row">
							<!--<label for="city">City</label>-->
						</div>

						<button type="button" class="btn btn-primary" onclick="signup()">
							Sign up
						</button>

						<div>
							<a th:href="@{/signin}">sign in</a>
						</div>
					</form>
				</div>

			</div>
		</div>
	</section>

	<script th:src="@{/js/usersignup.js}"></script>

	<footer class="w3-container w3-black" style="padding:32px;">
		<p class="w3-center">@Copyright haha</p>
	</footer>

</section>

</body>
</html>
