<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Rent</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" th:href="@{/css/w3.css}">

	<!-- -->
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
	<!--矢量图标插件-->
	<link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
	<!--统计插件https://github.com/rendro/easy-pie-chart/-->
	<link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
	<!--幻灯片插件-->
	<link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

	<!--right slidebar-->
	<link rel="stylesheet" th:href="@{css/slidebars.css}">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/style-responsive.css}">


	<style>
		.our-login-box {
			width: 400px;
			height: 600px;
			right: 100px;
			bottom: -400px;
		}
	</style>
</head>
<body>

<header class="w3-top">
	<div>
		<div class="w3-navbar w3-white navbar-collapse collapse w3-large">
			<a th:href="@{/}" class="w3-bar-item w3-button w3-hover-orange">主页</a>
			<a th:href="@{/houselist}" class="w3-bar-item w3-button w3-hover-orange">房源</a>
			<a th:href="@{/demandlist}" class="w3-bar-item w3-button w3-hover-orange">求租</a>
		</div>
	</div>
</header>

<div class="w3-display-container w3-content w3-center"
		 style="max-width:3200px; height:300px; background:dimgray;">
	<div class="w3-container w3-white w3-display-bottomright our-login-box round-panel">
		<form class="form-horizontal" role="form" id="register" method="post">

			<div class="form-group w3-row">
				<label for="phonenumber">Phone number</label>
				<input type="text" class="form-control" id="phonenumber" name="phonenumber">
			</div>
			<div class="form-group w3-row">
				<label for="usernickname">User Nick Name</label>
				<input type="text" class="form-control" id="usernickname" name="usernickname">
			</div>
			<div class="form-group w3-row">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password">
			</div>
			<div class="form-group w3-row">
				<label for="confirmpassword">Confirm password</label>
				<input type="password" class="form-control" id="confirmpassword">
			</div>

			<hr>
			<div class="form-group w3-row">
				<label for="idnumber">姓名</label>
				<input type="text" class="form-control" id="username" name="username">
			</div>

			<div class="form-group w3-row">
				<label for="selectid">Select ID</label>
				<select name="idtype" id="selectid">
					<option value=0>身份证</option>
					<option value=1>护照</option>
				</select>
			</div>
			<div class="form-group w3-row">
				<label for="idnumber">ID Number</label>
				<input type="text" class="form-control" id="idnumber" name="idnumber">
			</div>
			<div class="form-group w3-row">
				<!--<label for="city">City</label>-->
			</div>

			<button type="button" class="btn btn-primary" onclick="signup()">
				Sign up
			</button>

			<div>
				<a th:href="@{/signin}">sign in</a>
			</div>
		</form>

		<script>
			var storage = window.localStorage;
			function signup() {
			  var http = XMLHttpRequest();
			  http.open('POST', 'localhost:8080/rentHomeProj_war/user/regist', false);
/*
				$.ajax({
					type: "POST",
					url: "http://localhost:8080/rentHomeProj_war/user/regist",
					async: false,
					data: $('register').serialize(),
					contentType: "application/x-www-form-urlencoded",
					success: function(data) {
						console.log(data);
						alert(data);
						var json = jQuery.parseJSON(data);
						if (json.rescode === 10002) {
							alert('success');
							var jwt = json.JWT;
							alert(jwt);
							storage["username"] = json.username;
							storage["userid"]=json.userid;
							console.log(jwt);
							$(location).attr('href', '/rentHomeProj_war/');
						}
					}
				});*/
			}
		</script>
	</div>
</div>

<div class="w3-container w3-white" style="background: white; height: 300px"></div>

<footer class="w3-container w3-black" style="padding:32px;">
	<p class="w3-center">@Copyright haha</p>
</footer>

</body>
</html>
