<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
<head>
	<title>登陆</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" th:href="@{/css/w3.css}">

	<!-- -->
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
	<!--矢量图标插件-->
	<link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
	<!--统计插件https://github.com/rendro/easy-pie-chart/-->
	<link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
	<!--幻灯片插件-->
	<link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

	<!--right slidebar-->
	<link rel="stylesheet" th:href="@{css/slidebars.css}">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/style-responsive.css}">

</head>
<body>

<header class="w3-top">
	<div>
		<div class="w3-navbar w3-white navbar-collapse collapse w3-large">
			<a th:href="@{/}" class="w3-bar-item w3-button w3-hover-orange">主页</a>
			<a th:href="@{/houselist}" class="w3-bar-item w3-button w3-hover-orange">房源</a>
			<a th:href="@{/demandlist}" class="w3-bar-item w3-button w3-hover-orange">求租</a>
		</div>
	</div>
</header>

<script th:src="@{/js/userlogin.js}"></script>

<section id="container" style="background-color: dimgray;">
	<section id="main-content">

		<div class="row">
			<div class="col-sm-4"></div>

			<div class="col-sm-5">
				<div class="round-panel w3-large">
					<form role="form" id="form-signin" method="post">
						<div class="form-group">
							<label for="usernickname">用户名</label>
							<input type="text" class="form-control" id="usernickname" name="usernickname">
						</div>
						<div class="form-group">
							<label for="password">密码</label>
							<input type="password" class="form-control" id="password" name="password">
						</div>
						<div class="form-check">
							<label for="rememberme" class="form-check-label">记住我</label>
							<input class="form-check-input" type="checkbox" id="rememberme">
						</div>
            <hr>
						<button type="button" class="btn btn-primary" id="btnsignin">
							登陆
						</button>
						<div>
							<a th:href="@{/signup}">转到注册页面</a>
						</div>
					</form>

				</div>

			</div>
		</div>
	</section>

	<footer class="w3-container w3-black" style="padding:32px;">
		<p class="w3-center">@Copyright haha</p>
	</footer>
</section>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- myself -->
<script th:src="@{/js/userlogin.js}"></script>

</body>
</html>
