<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>landlord houses</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
  <!--矢量图标插件-->
  <link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
  <!--统计插件https://github.com/rendro/easy-pie-chart/-->
  <link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
  <!--幻灯片插件-->
  <link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

  <!--right slidebar-->
  <link rel="stylesheet" th:href="@{css/slidebars.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/style-responsive.css}">

  <link rel="stylesheet" th:href="@{css/w3.css}">

</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{/js/landlord/houses.js}"></script>
<!-- <script src="Scripts/jquery.pagination.js" type="text/javascript"></script> -->

<section id="container">

  <header class="w3-top">
    <div>
      <div class="w3-navbar w3-white navbar-collapse collapse w3-large">
        <a th:href="@{/}" class="w3-bar-item w3-button w3-hover-orange">主页</a>
        <a th:href="@{/houselist}" class="w3-bar-item w3-button w3-hover-orange">房源</a>
        <a th:href="@{/demandlist}" class="w3-bar-item w3-button w3-hover-orange">求租</a>
        <a th:href="@{/signup}" class="w3-bar-item w3-button w3-hover-orange w3-right">注册</a>
        <a th:href="@{/signin}" class="w3-bar-item w3-button w3-hover-orange w3-right">登陆</a>
        <a th:href="@{/personview}" class="w3-bar-item w3-button w3-hover-orange w3-right">个人中心</a>
      </div>
    </div>
  </header>

  <section id="main-content">
    <div class="row">
      <div class="col-lg-2">
        <section class="panel-heading">
          Link items
        </section>
        <div class="list-group">
          <div class="list-group-item"><a th:href="@{/landlordhouselist}">房源列表</a></div>
          <div class="list-group-item"><a th:href="@{/landlordappointment}">交易列表</a></div>
          <div class="list-group-item"><a th:href="@{/landlorddeal}">待交易</a></div>
          <div class="list-group-item"><a th:href="@{/landlordstatistics}">统计信息</a></div>
          <div class="list-group-item"><a th:href="@{/irent}">我要租房</a></div>
          <div class="list-group-item"><a th:href="@{/irentout}">我要出租</a></div>
        </div>
      </div>

      <div class="col-lg-10">
        <section class="panel">
          <div class="w3-navbar w3-white w3-large">
            <a th:href="@{/personview}" class="w3-bar-item w3-button w3-hover-deep-orange">个人信息</a>
            <a th:href="@{/landlord}" class="w3-bar-item w3-button w3-hover-deep-orange">我是房东</a>
            <a th:href="@{/roomer}" class="w3-bar-item w3-button w3-hover-deep-orange">我是房客</a>
          </div>
        </section>

        <section class="panel">
          <header class="panel-heading">
            我是房东
          </header>
          <div class="panel-body">
            <div>
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>房屋ID</th>
                  <th>城市</th>
                  <th>社区</th>
                  <th>楼门号</th>
                  <th>房屋类型</th>
                  <th>房屋面积</th>
                  <th>楼层</th>
                  <th>是否有电梯</th>
                  <th>押金</th>
                  <th>租金支付方式</th>
                  <th>租金</th>
                  <th>注册时间</th>
                  <th>修改时间</th>
                  <th>已租/待租</th>
                </tr>
                </thead>
                <tbody id="ownerhouselist">
                <tr>
                  <td>111</td>
                  <td>Beijing</td>
                  <td>Haidian</td>
                  <td>456</td>
                  <td>三室两厅</td>
                  <td>500平米</td>
                  <td>234</td>
                  <td>有</td>
                  <td>￥192831081</td>
                  <td>￥1931081</td>
                  <td>支付宝</td>
                  <td>2019/1/11 0:00</td>
                  <td>2019/1/11 1:00</td>
                  <td>已租</td>
                  <td><a th:href="@{/editrentout}"><i class="fa fa-edit"></i></a></td>
                  <td><i class="fa fa-trash-o"></i></td>
                </tr>
                </tbody>
              </table>

            </div>

          </div>
        </section>
      </div>
    </div>
  </section>
</section>

</body>
</html>
