<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>landlord statistics</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/bootstrap-reset.css}">
  <!--矢量图标插件-->
  <link rel="stylesheet" th:href="@{css/font-awesome/css/font-awesome.css}">
  <!--统计插件https://github.com/rendro/easy-pie-chart/-->
  <link th:href="@{css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
  <!--幻灯片插件-->
  <link rel="stylesheet" th:href="@{css/owl.carousel.css}" type="text/css">

  <!--right slidebar-->
  <link rel="stylesheet" th:href="@{css/slidebars.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/style-responsive.css}">

  <link rel="stylesheet" th:href="@{css/w3.css}">

</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- <script src="Scripts/jquery.pagination.js" type="text/javascript"></script> -->

<style>
  .houseimg {
    width: 250px;
    height: 250px;
  }
</style>

<section id="container">

  <header class="w3-top">
    <div>
      <div class="w3-navbar w3-white navbar-collapse collapse w3-large">
        <a th:href="@{/}" class="w3-bar-item w3-button w3-hover-orange">主页</a>
        <a th:href="@{/houselist}" class="w3-bar-item w3-button w3-hover-orange">房源</a>
        <a th:href="@{/demandlist}" class="w3-bar-item w3-button w3-hover-orange">求租</a>
        <a th:href="@{/signup}" class="w3-bar-item w3-button w3-hover-orange w3-right">注册</a>
        <a th:href="@{/signin}" class="w3-bar-item w3-button w3-hover-orange w3-right">登陆</a>
        <a th:href="@{/personview}" class="w3-bar-item w3-button w3-hover-orange w3-right">个人中心</a>
      </div>
    </div>
  </header>

  <section class="main-content">
    <div class="center-block">
      <div class="col-lg-12">
        <section calss="panel">
          <div class="panel-body">
            <div>
              <ul class="summary-list">
                <li>
                  <a th:href="@{/personview}">
                    <i class=" "></i>
                    "
                    个人中心(图标放矢量图像)
                    "
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class=" "></i>
                    "
                    房东中心
                    "
                  </a>
                </li>
                <li>
                  <a th:href="@{/roomer}">
                    <i class="#"></i>
                    "
                    房客中心
                    "
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div>
        <div class="col-lg-2">
          <section class="panel-heading">
            Link items
          </section>
          <div class="list-group">
            <div class="list-group-item"><a th:href="@{/landlordhouselist}">房源列表</a></div>
            <div class="list-group-item"><a th:href="@{/landlordappointment}">待约看</a></div>
            <div class="list-group-item"><a th:href="@{/landlorddeal}">待交易</a></div>
            <div class="list-group-item"><a th:href="@{/landlordstatistics}">统计信息</a></div>
            <div class="list-group-item"><a th:href="@{/irent}">我要租房</a></div>
            <div class="list-group-item"><a th:href="@{/irentout}">我要出租</a></div>
          </div>
        </div>

        <div class="col-lg-10">

          <section class="panel">
            <form class="search-result">
              <div class="row panel">
                <label class="col-sm-1 control-label" for="search-input">Search</label>
                <div class="col-sm-8">
                  <input class="form-control w3-xlarge" type="text" id="search-input">
                  <p class="help-block">About ... results (... seconds)</p>
                </div>
                <div class="col-sm-2">
                  <button class="btn" type="submit">SEARCH</button>
                </div>
              </div>
              <div class="row panel">
                <label for="select-province">Province</label>
                <select id="select-province">
                  <option>Bj</option>
                  <option>Sh</option>
                  <option>AN</option>
                  <option>SC</option>
                </select>
                <label for="select-city">Province</label>
                <select id="select-city">
                  <option>Bj</option>
                  <option>Ai</option>
                  <option>Zh</option>
                </select>
                <label for="select-district">Province</label>
                <select id="select-district">
                  <option>QAZ</option>
                  <option>WSX</option>
                  <option>EDC</option>
                </select>
              </div>
            </form>
          </section>

          <section class="panel">
            <header class="panel-heading">
              我是房东
            </header>
            <div class="panel-body">
              <div class="row">

                <div class="col-lg-7">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>rentId</th>
                      <th>publishUserId</th>
                      <th>cityName</th>
                      <th>communityName</th>
                      <th>houseType</th>
                      <th>floorNumber</th>
                      <th>elevatorOrNot</th>
                      <th>houseDescription</th>
                      <th>depositMoney</th>
                      <th>paymentMethod</th>
                      <th>rentMoney</th>
                      <th>registTime</th>
                      <th>updateTime</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</section>

</body>
</html>
