<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>I rent out</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{/css/w3.css}">

  <!-- -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap-reset.css}">
  <!--矢量图标插件-->
  <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.css}">
  <!--统计插件https://github.com/rendro/easy-pie-chart/-->
  <link th:href="@{/css/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen">
  <!--幻灯片插件-->
  <link rel="stylesheet" th:href="@{/css/owl.carousel.css}" type="text/css">

  <!--right slidebar-->
  <link rel="stylesheet" th:href="@{/css/slidebars.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/style-responsive.css}">

</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- <script src="Scripts/jquery.pagination.js" type="text/javascript"></script> -->


<section id="container">
  <!-- Navbar -->
  <header class="w3-top">
    <div>
      <div class="w3-navbar w3-white navbar-collapse collapse w3-large">
        <a th:href="@{/}" class="w3-bar-item w3-button w3-hover-orange">主页</a>
        <a th:href="@{/houselist}" class="w3-bar-item w3-button w3-hover-orange">房源</a>
        <a th:href="@{/demandlist}" class="w3-bar-item w3-button w3-hover-orange">求租</a>
        <a th:href="@{/signup}" class="w3-bar-item w3-button w3-hover-orange w3-right">注册</a>
        <a th:href="@{/signin}" class="w3-bar-item w3-button w3-hover-orange w3-right">登陆</a>
        <a th:href="@{/personview}" class="w3-bar-item w3-button w3-hover-orange w3-right">个人中心</a>
      </div>
    </div>
  </header>

  <section id="main-content">
    <div class="row">
      <!-- left side (content) -->
      <div class="col-sm-8">

        <div class="container">
          <h1>我要出租</h1>
          <br>
          <br>

          <div class="form-horizontal" enctype="multipart/form-data"
                role="form" id="irentout-form" method="post">

            <div class="form-group">
              位置
              <br>
              <label for="province">省份</label>
              <select id="province" name="province">
                <option>Beijing</option>
                <option>Shanghai</option>
                <option>Andorra</option>
              </select>

              <label for="city">城市</label>
              <select id="city" name="city">
                <option>Abcd</option>
                <option>Bcde</option>
                <option>Cdef</option>
              </select>
            </div>

            <div class="form-group">
              <label for="buildingnumber">栋数</label>
              <input type="text" class="form-control" id="buildingnumber" name="buildingnumber">
            </div>

            <div class="form-group">
              <label for="housetype">房屋类型</label>
              <input type="number" min="0" max="3"
                     class="form-control" id="housetype" name="housetype">
            </div>

            <div class="form-group">
              <label for="housearea">房屋面积</label>
              <input type="number" min="1" max="10000"
                     class="form-control" id="housearea" name="housearea">
            </div>

            <div class="form-group">
              <label for="floornumber">楼层</label>
              <input type="number" min="1" max="1000"
                     class="form-control" id="floornumber" name="floornumber">
            </div>

            <div class="form-group">
              <label for="elevatorornot">是否有电梯</label>
              <select id="elevatorornot">
                <option value="1">有</option>
                <option value="0">没有</option>
              </select>
            </div>

            <div class="form-group">
              <label for="depositmoney">押金</label>
              <input type="number" step="0.01" min="0.01" max="100000.00"
                     class="form-control" id="depositmoney" name="depositmoney">
            </div>

            <div class="form-group">
              <label for="rentmoney">租金</label>
              <input type="number" step="0.01" min="0.01" max="100000000.00"
                     class="form-control" id="rentmoney" name="rentmoney">
            </div>

            <div class="form-group">
              <label for="paymentmethod">支付方式</label>
              <select id="paymentmethod">
                <option value="0">月租</option>
                <option value="1">季租</option>
                <option value="2">年租</option>
              </select>
            </div>

            <div class="form-group" id="input-images">
              <input type="file" id="chooseimg"
                     onchange="changeImg(this)" name="file"
                     accept="image/*">
            </div>

            <script>
              function changeImg() {
                var fin = new FileReader();
                var f = document.getElementById('chooseimg').files[0];
                fin.readAsDataURL(f);
                fin.onload = function(e) {
                  var img = document.createElement('img');
                  img.src = this.result;
                  img.style = "width: 15em;";
                  document.getElementById('input-images').appendChild(img);
                }
              }
            </script>

            <button type="submit" class="btn btn-primary" id="btn-irentout">
              Submit
            </button>
          </form>
        </div>

      </div>

      <!-- sidebar -->
      <div class="col-sm-3">
        <div id="user-panel">
          <div class="caption titled">
            <h2>UserName</h2>
          </div>
          <div>
            <div>
              <ul>
                <li>...</li>
                <li>...</li>
                <li>...</li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <a th:href="@{/irent}"><h3>我要求租</h3></a>
                </li>
                <li>
                  <a th:href="@{/irentout}"><h3>我要出租</h3></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <footer class="w3-container w3-black" style="padding:32px;">
    <p class="w3-center">@Copyright haha</p>
  </footer>

</section>
</body>
</html>
