<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Rent</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>

<style>
  h1, h2, h3, h4, h5, h6 { font-family: Constantia,serif; }
  a, p { font-family: "Century Gothic"; }
</style>

<body class="w3-light-gray">

<div class="w3-content" style="max-width: 3200px">

  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1>RENT HOUSE</h1>
    <h6>zu fang wang zhan</h6>
  </header>

</div>

<div class="w3-bar w3-black w3-hide-small">
  <a th:href="@{/}" class="w3-bar-item w3-button w3-col l1">Home</a>
  <a th:href="@{/houselist}" class="w3-bar-item w3-button w3-col l1">Houselist</a>
  <a th:href="@{/demandlist}" class="w3-bar-item w3-button w3-col l1">Demandlist</a>
  <a th:href="@{/signup}" class="w3-bar-item w3-button w3-right w3-col">Sign Up</a>
  <a th:href="@{/signin}" class="w3-bar-item w3-button w3-right w3-col">Sign In</a>
</div>

<div class="w3-container w3-center">
  <p>C'est la vie!</p>
  <p>Vouloir, c'est pouvoir.</p>
</div>

<footer class="w3-container w3-black" style="padding:32px;">
  <p class="w3-right">@Copyright haha</p>
</footer>

</body>
</html>