<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- User的ORM-->
<mapper namespace="com.rent.dao.UserDao">
  <!-- 目的：为dao接口方法提供sql语句配置 -->
  <!-- 具体的sql -->
  <insert id="addUser">
      insert into User(userNickName, password,
                       userType, userName, cardType,
                       idNumber, phoneNumber, userLevel,
                       registCity, updateTime)
          values (
                  #{userNickName},#{password},
                  #{userType},#{userName},#{cardType},
                  #{idNumber},#{phoneNumber},#{userLevel},
                  #{registCity},#{updateTime}
          );
  </insert>

    <select id="queryUserById" resultType="User">
        select *
        from User
        where userId=#{userId};
    </select>

    <select id="loginUser" resultType="User">
            select *
            from User
            where userId=#{userId} and password=#{password};
    </select>

    <update id="updateUser">
        update User
        SET password=#{password} , phoneNumber=#{phoneNumber} ,updateTime=#{updateTime}
        where userId=#{userId} ;
    </update>
</mapper>
